*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    background-color: #7DCFB6;
}

div{
    border: 2px solid #f79256;
    margin: 15%;
    background-color: #F79256;
}

h3 {
    font-family: 'Times New Roman', Times, serifs;
}