* {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/rainbow-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    text-align: center;
  }
  
  main {
    width: 60%;
    height: 90%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  header {
    height: 20vh;
    background-color: black;
    color: white;
    position: relative;
  }
  
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
  }
  
  .line {
    border: 3px solid #336699;
    background-color: #336699;
  }
  
  nav {
    height: 5vh;
    margin-top: 1.5%
  }
  
  .navLink {
    font-size: 20px;
    margin: 25px;
    text-decoration: none;
    color: black
  }
  
  .wrapper {
    width: 100%;
    margin-top: 5%;
    display: flex;
  }
  
  .image {
    width:50%;
   
  
  }
  
  .image > img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }
  
  .content {
    width: 50%;
    height: 400px;
    text-align: left;
  }
  
  h3 {
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 4%
  }
  
  #puppies {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 4%
  }
  
  button {
    width: 95%;
    height: 35px;
    background-color: #33c3f0;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2%
  }
  
  #reasons {
    font-weight: bolder;
    margin-bottom: 5%
  }
  
  ol {
    list-style-position: inside;
  }
  
  
  li {
    margin-bottom: 3%;
  }
  
  .logo {
    width: 50px;
    height: 50px
  
  }
  
  
  .findus {
    margin: 3%
  }